<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CoverageTool" value="PartCover" />
    <add key="CCTool" value="Reflector" />
    <add key="CoverageReport" value="PartCover-results.xml" />
    <add key="CCReport" value="CodeMetrics.xml" />
    <add key="OutputFile" value="CrapReport.xml" />
    <add key ="FormatterType" value="Crap4J"/>
  </appSettings>
</configuration>