<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CoverageTool" value="PartCover" />
    <add key="CCTool" value="Reflector" />
    <add key="CoverageReport" value="C:\Dev\CI.Opensource\project-templates\reports\PartCover-results.xml" />
    <add key="CCReport" value="C:\Dev\CI.Opensource\project-templates\reports\CodeMetrics.xml" />
    <add key="OutputFile" value="C:\Dev\CI.Opensource\project-templates\reports\CrapReport.xml" />
  </appSettings>
</configuration>