<?xml version="1.0"?>

<configuration>

  <connectionStrings>

    <add name="mocument" connectionString="Data Source=c:\temp\mocument.db;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider"
              invariant="System.Data.SQLite"
              description=".Net Framework Data Provider for SQLite"
              type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <add key="proxyHostName" value="localhost." />
    <add key="proxySSLPort" value="82" />
    <add key="proxyPort" value="81" />
    <add key="proxySecured" value="true" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>