<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TradingRobot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TradingRobot.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>DM336488</value>
            </setting>
            <setting name="RpcUri" serializeAs="String">
                <value>https://ciapi.cityindex.com/tradingapi</value>
            </setting>
            <setting name="StreamingUri" serializeAs="String">
                <value>https://push.cityindex.com</value>
            </setting>
            <setting name="IPTUri" serializeAs="String">
                <value>https://trade.loginandtrade.com/demoitp/siteselector_ci-demo.asp</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </TradingRobot.Properties.Settings>
    </userSettings>
</configuration>