<?xml version="1.0"?>
<configuration>
  <appSettings>
<!--    <add key="apiRpcUrl" value="https://ciapi.cityindex.com/tradingapi"/>-->
<!--    <add key="apiStreamingUrl" value="https://push.cityindex.com"/>-->
<!--    <add key="RpcUserName" value="DM715257"/>-->

	<add key="apiRpcUrl" value="https://ciapipreprod.cityindextest9.co.uk/TradingApi"/>
	<add key="apiStreamingUrl" value="https://pushpreprod.cityindextest9.co.uk"/>
	<!--<add key="RpcUserName" value="XX070608"/>-->
    <add key="RpcUserName" value="XX531040"/>
    


    <add key="RpcPassword" value="password"/>
    
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
