<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging"
               type="Common.Logging.ConfigurationSectionHandler, Common.Logging"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="ALL" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="apiRpcUrl" value="http://ciapipreprod.cityindextest9.co.uk/TradingApi"/>
    <add key="apiStreamingUrl" value="https://pushpreprod.cityindextest9.co.uk/CITYINDEXSTREAMING"/>
    <add key="RpcUserName" value="0x234"/>
    <add key="RpcPassword" value="password"/>
    
  </appSettings>
</configuration>