<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cassinidev" type="CassiniDev.Configuration.CassiniDevConfigurationSection, CassiniDev.Lib"/>
  </configSections>


  <cassinidev>
    <profiles>
      <add name="*">
        <mimeTypes>
          <add extension=".foo" type="text/plain"/>
        </mimeTypes>
      </add>
    </profiles>
  </cassinidev>

  
  
  <!-- 
        improves startup time when publisher evidence is not required
        http://msdn.microsoft.com/en-us/library/bb629393.aspx
  -->
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>


</configuration>