<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mocument" connectionString="Data Source=c:\temp\mocument.db;Version=3;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="proxyHostName" value="localhost." />
    <add key="proxySSLPort" value="82" />
    <add key="proxyPort" value="81" />
    <add key="proxySecured" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Salient.ReliableHttpClient" publicKeyToken="de2ccdae144c2020" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.6.17" newVersion="1.0.6.17" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Salient.ReliableHttpClient.Serializer.Newtonsoft" publicKeyToken="af1483d0b03a76fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.10" newVersion="1.0.4.10" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>