<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="apiUsername" value="xx189949"/>
    <add key="apiPassword" value="password"/>
    <add key="apiUrl" value="https://ciapipreprod.cityindextest9.co.uk/TradingApi/"/>
    <add key="streamingUrl" value="https://foo.bar/"/>
    <add key="apiTestSessionId" value="D2FF3E4D-01EA-4741-86F0-437C919B5559"/>
  </appSettings>

  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
