<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="apiUsername" value="DM696495"/>
    <add key="apiPassword" value="password"/>
    <add key="apiUrl" value="https://ciapi.cityindex.com/tradingapi"/>
    <add key="streamingUrl" value="https://push.cityindex.com"/>
    <add key="apiTestSessionId" value="D2FF3E4D-01EA-4741-86F0-437C919B5559"/>
  </appSettings>

  
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
