<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- original test settings-->

    <add key="apiUrl" value="https://ciapi.cityindex.com/tradingapi"/>
    <add key="streamingUrl" value="https://push.cityindex.com"/>
    <add key="apiTestSessionId" value="D2FF3E4D-01EA-4741-86F0-437C919B5559"/>

    <!-- recorded test settings-->
    <add key="mocumentMode" value="record"/>
    <add key="mocumentKey" value="CIAPI_INTEGRATION_TEST"/>
    <add key="mocumentDataPath" value="..\..\data"/>


    <add key="apiUserName" value="XX658109"/>
    <add key="apiPassword" value="password"/>
    <add key="apiRpcUrl" value="https://ciapi.cityindex.com/tradingapi"/>
    <add key="apiStreamingUrl" value="https://push.cityindex.com"/>
    <add key="apiKey" value="mocument_recording_fixture"/>


  </appSettings>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>

  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
