<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jayrock-json" version="0.9.12915" />
  <package id="JSON" version="1.0.1" />
  <package id="Newtonsoft.Json" version="4.5.1" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="ServiceStack.Text" version="3.6.3" />
  <package id="System.Json" version="4.0.20126.16343" />
</packages>